@font-face{
    font-family: "Marconi";
    src: url("../assets/fuente/macaroni/Macaroni.ttf");
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

header{
    background-color: rgb(238, 200, 255);
    height:25vh ;
    position:sticky;
    top: 0;
    z-index: 1;
}

#title{
    display: inline-block;
    font-size: 100px;
    width: 40%;
    height: 70%;
    margin-left:14%;
    text-align: center;
    vertical-align: top;
    font-family: "Marconi";
    /* background-color: rgb(197, 128, 24); */
}

#whatapp{
    display: inline-block;
    /* background-color:red; */
    height: 35%;
    width: 5%;
    text-align: right;
    margin-left: 24%;
    margin-top: 1%;
    /* position: fixed; */
}


#logo{
    font-size: 1rem;
    display: inline-block;
    /* background-color: rgb(187, 255, 0); */
    margin-left: 6%;
    height: 70%;
    text-align: center;
    vertical-align: top;

}





header nav{
    font-size: 1rem;
    display: inline-block;
    /* background-color: rgb(255, 0, 242); */
    width: 100%;
    height: 30%;
    text-align: center;
    vertical-align:middle ;
    
} 

header nav ul li{
    font-size: 20px;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    list-style-type: none;
    border-radius: 5px;
    background-color: aliceblue;
    line-height: 1.5;
}

header nav ul li a{
    
    text-decoration: none;
    color: rgb(21, 22, 22);
}

main{
    display: inline-block;
    height: 190vh;
    font-size: 0;
    /* background-color: bisque; */
}

#logo_main{
    font-size: 1rem;
    /* background-color: rgb(187, 255, 0); */
    width: 17%;
    height: 32%;
    margin-left: 40%;
    text-align: center;

}
#quines_somos{
    /* display: inline-block; */
    font-size: 35px;
    height: 2%;
    position: relative;
    bottom: 18%;

}
.Titulos{
    margin-left:1%;
    text-align: left;
    font-family:cursive;
    
    color: #8d285c;
}

#text_quienes_somos{
    display: inline-block;
    font-size: 20px;
    height: 25%;
    width: 50%;
    padding: 1%;
    text-align: justify;
    border-radius: 1%;
    position: relative;
    bottom: 17.5%;
    background-color: rgb(238, 200, 255);
}
#foto_quienes_somos{
    font-size: 1rem;
    display: inline-block;
    height: 25%;
    width: 50%;
    /* background-color: blue; */
    position: relative;
    bottom: 15%;


}

#foto_quienes_somos img{
    height: 100%;
    width: 100%;
}

#productos_destacados{
    /* display: inline-block; */
    font-size: 35px;
    height: 2%;
    position: relative;
    bottom: 14%;
}

#contenedor_prductos{
    background-color: rgb(238, 200, 255);
    width: 80%;
    height: 25%;
    margin-left: 10%;
    position: relative;
    bottom: 10%;


}
.producto{
    display: inline-block;
    background-color: rgb(181, 123, 207);
    width: 30%;
    height: 100%;
    text-align:center;
    margin-left: 2.5%;
    
   
}

.producto img{
    /* background-color: rgb(175, 4, 4); */
    width: 60%;
    height: 60%;
    margin-top: 3%;

    
}
.nombre_prod{
    /* background-color: red; */
    font-size:18px;
    text-align: left;
    position: relative;
    top: 9%;
    margin-left: 2%;
}
.precio_prod{
    /* background-color: wheat; */
    font-size:15px;
    text-align: right;
    position: relative;
    top: 13%;
    margin-right: 2%;
}

.producto input{
    position: relative;
    top: 15%;
    
    font-size: 17px;
}

footer{
    
    height: 10vh;
    background-color: rgb(238, 200, 255);
}

