$bg-li-color:  aliceblue;
$bg-a-color: black;

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face{
    font-family: "Marconi";
    src: url("../assets/fuente/macaroni/Macaroni.ttf");
    
}

#title{
    font-family: "Marconi";
    font-size: 550%;
}

header{
    background: rgb(254,150,255);
    background: linear-gradient(90deg, rgba(254,150,255,0.98) 0%, rgba(255,100,200,1) 50%, rgba(255,200,200,0.9023984593837535) 100%);

    div{
        nav{
            ul{
                li{
                    font-size: 1rem;
                    padding-left: 5%;
                    padding-right: 5%;
                    list-style-type: none;
                    border-radius: 5px;
                    background: white;
                    transition: transform 0.3s;
                    &:hover{
                        transform: scale(1,1.17);
                    }
                    a{
                        color:$bg-a-color;
                    }
                }
            }
        }
    }
}

#recuadro-quienes-somos{
    background: rgb(254,150,255);
    background: linear-gradient(90deg, rgba(254,150,255,0.98) 0%, rgba(255,100,200,1) 50%, rgba(255,200,200,0.9023984593837535) 100%);

}
.fotoProducto{
    width:12rem;
    height: 9rem;
}

footer{ 
    height: 10vh; 
    background: rgb(254,150,255);
    background: linear-gradient(90deg, rgba(254,150,255,0.98) 0%, rgba(255,100,200,1) 50%, rgba(255,200,200,0.9023984593837535) 100%);

}